version: 2
jobs:
  test:
    docker:
      - image: hashicorp/terraform:0.11.15
    steps:
      - checkout
      - run:
          command: |
            terraform init
            terraform plan

  deploy:
    docker:
      - image: hashicorp/terraform:0.11.15
    steps:
      - checkout
      - run:
          command: |
            terraform init
            terraform apply -auto-approve
      - run:
          command: |
            git config --global user.email "account@icttoracon.net"
            git config --global user.name "ictsc-admin"              
            git add -f terraform.tfstate
            git commit -m "update terraform state [ci skip]"
            git push origin production
          when: always

workflows:
  version: 2
  test-and-deploy:
    jobs:
      - test:
          filters:
            branches:
              only:
                - master
      - deploy:
          filters:
            branches:
              only:                
                - production
